<div class="span4">

<div class="well">
    <ul class="nav nav-list">
        <li class="nav-header">Conferences</li>
        <li><a href="#"><i class="icon-book"></i> All open CFPs <span class="badge badge-success">15</span></a></li>
        <li><a href="#"><i class="icon-user"></i> My submitted talks <span class="badge badge-info">2</span></a></li>
        <li><a href="#"><i class="icon-envelope"></i> My rejected talks <span class="badge badge-success">1</span></a></li>
        <li><a href="#"><i class="icon-envelope"></i> Closed conferences <span class="badge badge-warning">1</span></a></li>
        <li class="divider"></li>
        <li><a href="#"><i class="icon-flag"></i> Help</a></li>
    </ul>
</div>

</div>
