<table class="table table-striped table-bordered table-condensed table-hover">
    <thead>
        <tr>
            <th>Conference</th>
            <th>Location</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
{% for conference in conferences %}
    <tr>
        <td>{{ conference.name }}</td>
        <td>N/A</td>
        <td>
            {% if conference.dtStart|date("d-m-Y") == conference.dtEnd|date("d-m-Y") %}
                {{ conference.dtStart|date("d-m-Y") }}
            {% else %}
                {{ conference.dtStart|date("d-m-Y") }} - {{ conference.dtEnd|date("d-m-Y") }}
            {% endif %}
        </td>
    </tr>
{% endfor %}
    </tbody>
</table>
