{% extends '::base.html.twig' %}

{% block title %}About this site{% endblock %}

{% block body %}
  <div class="hero-unit">
      <h3>About this site...</h3>

      <p>Marfa flannel godard next level disrupt banh mi. Blog meh deep v, single-origin coffee 8-bit mcsweeney's swag
          cray vice mlkshk pour-over ethnic leggings pitchfork art party. Yr hoodie high life pickled YOLO squid. Retro
          odd future small batch, polaroid fanny pack four loko helvetica literally blue bottle mustache. Hashtag tumblr
          cardigan quinoa messenger bag. Forage church-key high life street art blue bottle marfa farm-to-table,
          bushwick fingerstache shoreditch art party. Tumblr trust fund salvia, american apparel godard tonx twee
          sriracha seitan high life vinyl.</p>

      <p>Squid tofu four loko pitchfork, odd future locavore cardigan leggings 90's occupy. Sriracha mumblecore narwhal
          banksy stumptown selvage helvetica banh mi, bicycle rights terry richardson synth polaroid you probably
          haven't heard of them. Viral whatever 3 wolf moon lo-fi. Shoreditch pop-up cliche ethnic wayfarers wolf
          flannel, retro pour-over. Shoreditch lomo pop-up, raw denim freegan leggings keytar small batch disrupt
          american apparel cardigan gentrify. Pour-over fixie DIY craft beer hella narwhal kale chips, farm-to-table +1
          blog jean shorts hoodie. Thundercats VHS four loko pour-over lomo, yr street art post-ironic whatever blue
          bottle art party +1.</p>
  </div>
{% endblock %}
